<test title="x max">
    <craftml-layout l='join x max' id="top">
        <craftml-unit size="10 10 10" id="one" />
        <craftml-unit size="20 20 20" id="two" />
        <craftml-unit size="30 30 30" id="three" />
    </craftml-layout>
    <script>
        
        $('#top').should.have.size(60, 30, 30)
        $('#one').should.have.position(0, 0, 0)
        $('#two').should.have.position(10, -5, -5)
        $('#three').should.have.position(30, -10, -10)
    </script>
</test>


<test title="x max spacing">
    <craftml-layout l='join x 10 max' id="top">
        <craftml-unit size="10 10 10" id="one" />
        <craftml-unit size="20 20 20" id="two" />
        <craftml-unit size="30 30 30" id="three" />
    </craftml-layout>
    <script>
        
        $('#top').should.have.size(80, 30, 30)
        $('#one').should.have.position(0, 0, 0)
        $('#two').should.have.position(20, -5, -5)
        $('#three').should.have.position(50, -10, -10)
    </script>
</test>

<test title="x min">
    <craftml-layout l='join x min' id="top">
        <craftml-unit size="10 10 10" id="one" />
        <craftml-unit size="20 20 20" id="two" />
        <craftml-unit size="30 30 30" id="three" />
    </craftml-layout>
    <script>
        
        $('#one').should.have.position(0, 0, 0)
        $('#two').should.have.position(-20, -5, -5)
        $('#three').should.have.position(-50, -10, -10)
    </script>
</test>

<test title="x min spacing">
    <craftml-layout l='join x 10 min' id="top">
        <craftml-unit size="10 10 10" id="one" />
        <craftml-unit size="20 20 20" id="two" />
        <craftml-unit size="30 30 30" id="three" />
    </craftml-layout>
    <script>
        
        $('#one').should.have.position(0, 0, 0)
        $('#two').should.have.position(-30, -5, -5)
        $('#three').should.have.position(-70, -10, -10)
    </script>
</test>